<form method="POST" action="/send">

    <label for="inputstate">state</label>
    <input type="text" id="inputstate" name="state">

    <label for="inputbtu">btu</label>
    <input type="integer" id="inputbtu" name="btu">

    <label for="inputexpenditure_per_state">expenditure_per_state</label>
    <input type="integer" id="inputexpenditure_per_state" name="expenditure_per_state">

    <label for="inputexpenditure_per_person_dollars">expenditure_per_person_dollars</label>
    <input type="integer" id="inputexpenditure_per_person_dollars" name="expenditure_per_person_dollars">

    <label for="inputenergyexpenditure_gdp_percent">energyexpenditure_gdp_percent</label>
    <input type="integer" id="inputenergyexpenditure_gdp_percent" name="energyexpenditure_gdp_percent">


    <input type="submit" value="submit">
</form>



        